* {
  box-sizing: border-box;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  .side-bar {
    width: 300px;
    height: 100vh;
    background-color: #253141;
    .side-bar__user-name {
      height: 100px;
      background-color: #253141;
      display: flex;
      align-items: center;
      .top-items {
        height: 20px;
        width: 260px;
        margin-left: 20px;
        margin-right: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &__name {
          color: #ffffff;
          font-weight: bold;
        }
        &__icons {
          width: 60px;
          height: 20px;
          display: flex;
          justify-content: flex-end;
          align-items: center;
          &--btn{
            color: #ffffff;
            text-decoration: none;
            &--icon{
              margin-left: 5px;
            }
            
          }
        }
      }
    }
    .side-bar__group-list {
      height: calc(100vh - 100px);
      background-color: #2f3e51;
      .group-list{
        padding: 20px 20px 40px;
        &__name {
          font-size: 15px;
          font-weight: bold;
          color: #ffffff;
        }
        &__message{
          margin: 5px 0 0 0;
          font-size: 11px;
          font-weight: bold;
          color: #ffffff;
        }
      }
    }
  }

  .main-chat {
    width: calc(100vw - 300px);
    height: 100vh;
    background-color: #ffffff;
    .chat-main__group-info {
      height: 100px;
      background-color: #ffffff;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .chat-header__group {
        margin-left: 40px;
        padding: 35px 0 0 0;
        &--name {
          color: #333333;
          font-size: 20px;
        }
        &--member {
          margin: 15px 0 0 0;
          color: #999999;
          font-size: 12px;
        }
      }
      .chat-header__edit-btn {
        margin-right: 40px;
        height: 40px;
        width: 72px;
        background-color: #ffffff;
        border: 1px solid #38aef0;
        text-decoration: none;
        color: #38aef0;
        font-size: 16px;
        padding: 0 20px;
        display: block;
        line-height: 40px;
      }
    }
    .chat-main__message-list {
      height: calc(100vh - 100px - 90px);
      background-color: #fafafa;
      .chat-message {
        padding: 35px 0 0 40px;
        margin-bottom: calc(46px - 35px);
        &-top {
          margin-bottom: 12px;
          display: flex;
          &__name {
            color: #333333;
            font-size: 16px;
            font-weight: bold;
          }
          &__date {
            color: #999999;
            font-size: 12px;
            padding-left: 10px;
          }
        }
        &-bottom {
          &__content{
            color: #434a54;
            font-size: 14px;
          }
          &__image{
            height: 300px;
          }
        }
      }
    }
    .Footer {
      height: 90px;
      background-color: #d2d2d2;
      padding: 20px 40px 20px 40px;
      .Form {
        display: flex;
        justify-content: space-between;
        &__contents {
          width: 100%;
          background-color: #ffffff;
          position: relative;
          .Form__inputContent {
            border: none;
            height: 50px;
            width: 100%;
            padding: 0 45px 0 15px;
          }
          .Form__inputImage {height: 50px;
            position: absolute;
            right: 10px;
            .Form__icon {
              line-height: 50px;
              font-size: 25px;
            }
            .Hidden {
              display: none;
            }
          }
        }
        &__submit {
          background-color: #38AEF0;
          border: none;
          color: #ffffff;
          font-size: 16px;
          height: 50px;
          margin-left: 15px;
          padding: 0 30px;
        }
      }
    }
  }
}
